
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <script src="vue.js"></script>
    
  </head>
  <body>
    <div id="app" class="chatContainer">
      <ul id="chat-list-ul" class="chat-list">
        <li  v-for="message in messages">
          <span class="message">
              {{message.content}}
          </span>
          
        </li>

      </ul>
      <div class="chat-controller">
        <input id="messageInput" v-model="currentMessage" type="text" placeholder="Message..." autofocus>
        <button id="messageButton" v-on:click="sendMessage">Send</button>
      </div>
    </div>
    <script src="source.js"></script>
    <script>
      document.querySelector("#messageInput").addEventListener("keyup", event => {
        if(event.key !== "Enter") return; // Use `.key` instead.
        document.querySelector("#messageButton").click(); // Things you want to do.
        event.preventDefault(); // No need to `return false;`.
      });
    </script>
  </body>
</html>