<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <script src="vue.js"></script>
    
  </head>
  <body>
    <div id="app" class="chatContainer">
      <ul id="chat-list-ul" class="chat-list">
        <li v-for="message in messages">{{message}}</li>

      </ul>
      <div class="chat-controller">
        <input v-model="currentMessage" type="text" placeholder="Message...">
        <button v-on:click="sendMessage">Send</button>
      </div>
    </div>
    <script src="source.js"></script>
    
  </body>
</html>